{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="features">
    <h1 class="article">{{ article.title }}</h1>
    <div class="alert alert-warning">
        <h3>{{ article.full_text }}</h3>
    </div>
    <h6>{{ article.date }}</h6>
    {% if  %}
    <a href="{% url 'news-update' article.id %}" class='btn btn-info'>Редактировать</a>
    <a href="{% url 'news-delete' article.id %}" class='btn btn-danger'>Удалить</a>
    {% endif %}
</div>
{% endblock %}