{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="features">
        <h1>
            {{ title }}
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem facere quo, enim adipisci harum at nemo.
            Aliquid, eum doloremque delectus necessitatibus repellendus fugit. Neque ipsum sit, eum sed dolorum recusandae!
        </p>
        <button class="btn btn-warning">
            Button
        </button>
    </div>
{% endblock %}